<script setup>
import { defineProps } from 'vue'

const props = defineProps(['inverted', 'nobackground'])
const css = ['content']

if (props.inverted) {
  css.push('inverted')
} else if(props.nobackground) {
  css.push('no-background')
}
</script>

<template>
  <article :class="css">
    <div class="content__summary">
      <slot></slot>
    </div>
  </article>
</template>

<style>
article.content {
  margin: 0 auto;
  background-color: #e4002b;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  position: relative;
}

article.content.no-background { 
  background: none;
}

article.content {
  width: 100%;
  min-height: calc(100% - 200px);
  margin: 0 auto;
  display: flex;
  color: white;
}

div.content__summary {
  width: 50%;
  margin: 0 auto;
}
article.content.inverted {
  background-color: white;
  color: #e4002b;
}

article.content.inverted .content__summary {
  flex-direction: column;
  align-items: center;
  display: flex;
}

article.content li {
  font-weight: bold;
}

article.content p {
  font-size: 24px;
  text-indent: 1em;
}

@media (max-width: 500px) {
  article.content {
    padding-top: 40px;
    padding: 40px 20px;
    width: unset;
  }
}

@media (max-width: 1000px)  {
  div.content__summary {
    width: 90%;
  }

  article.content {
    width: unset;
  }
}
</style>