<script setup>
import { isPhone } from '../util'

const findById = (id) => {
  return document.querySelector(`#${id}`)
}
</script>

<template>
  <header aria-label="header navigation" v-if="isPhone">
    <div class="heading__text">
     <h1 style="text-align: center;">Proposal for<br/>federation of<br/>cooperatives</h1>
    </div>
    <a @click="findById('specification').scrollIntoView({ behavior: 'smooth' })" class="heading__specification">
      Specification
    </a>
    <a @click="findById('code-of-ethics').scrollIntoView({ behavior: 'smooth' })" class="heading__sign">
      Code of Ethics
    </a>
    <a @click="findById('sign-declaration').scrollIntoView({ behavior: 'smooth' })" class="heading__sign">
      Sign Declaration
    </a>
  </header>
  <header aria-label="header navigation" v-else>

    <div class="heading__text">
     <h1 style="text-align: center;">Proposal for<br/>federation of<br/>cooperatives</h1>
    </div>
    <a @click="findById('specification').scrollIntoView({ behavior: 'smooth' })" class="heading__specification">
      Specification
    </a>
    <a @click="findById('code-of-ethics').scrollIntoView({ behavior: 'smooth' })" class="heading__sign">
      Code of Ethics
    </a>
    <a @click="findById('sign-declaration').scrollIntoView({ behavior: 'smooth' })" class="heading__sign">
      Sign Declaration
    </a>
  </header>
</template>

<style>
.heading__specification, .heading__sign {
  font-size: 26px;
}

header {
  font-family: 'Righteous', sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e4002b;
}

header a {
  color: white;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}


@media (max-width: 1000px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header div.heading__text, header a.heading__specification, header a.heading__sign {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  a.heading__specification, a.heading__sign {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px)  {
  header div.heading__text h1{
    font-size: 37px;
  }

  header div.heading__specification, header div.heading__sign {
    font-size: 20px; 
  }
}
</style>