<script setup>
import { Lifesaver } from '@vicons/carbon'
import { Icon } from "@vicons/utils"
</script>

<template>
  <div class="loader">
    <Icon size="50">
      <Lifesaver />
    </Icon>
  </div>
</template>

<style>
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 99999;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #e4002b;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.loader svg {
  animation: rotating 2s linear infinite;
}
</style>