<script setup>
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
import { defineProps } from 'vue'

const props = defineProps(['signatures'])
</script>

<template>
  <section class="signatures">
    <carousel :items-to-show="1">
      <slide v-for="sig in props.signatures" :key="sig.id">
        <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <h1>{{ sig.name }}</h1>
          <p>{{ sig.comment }}</p>
        </div>
      </slide>

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
  </section>
</template>

<style>
section.signatures h1 {
  font-size: 2em;
}
section.signatures p {
  display: flex;
  justify-content: center;
  width: 80%;
}

.carousel {
  width: 100%;
}
section.signatures {
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-height: 40%;
  background-color: #525271;
}

.carousel__prev, .carousel__next { 
  color: white;
}

div.signature {
  width: 40%;
}
</style>