<script setup>
import L  from 'leaflet'
import { LMap, LTileLayer } from '@vue-leaflet/vue-leaflet'
import { ref, onMounted, nextTick } from 'vue'
import { MarkerClusterGroup } from 'leaflet.markercluster'

import "leaflet/dist/leaflet.css"
import 'leaflet.markercluster/dist/MarkerCluster.css'
import 'leaflet.markercluster/dist/MarkerCluster.Default.css'
import 'vue3-carousel/dist/carousel.css'

import Header from './components/Header.vue'
import Content from './components/Content.vue'
import Loader from './components/Loader.vue'
import Signatures from './components/Signatures.vue'

import Ethics from '../files/ethics.md'
import Spec from '../files/spec.md'
import Summary from '../files/summary.md'

const markerGroup = ref(null)
const map = ref(null)
const statsLoading = ref(false)
const signatures = ref([])
const stats = ref([])
const interests = ref({})
const zoom = ref(3)
const states = ref([])
const counties = ref([])
const fetching = ref(false)
const formError = ref(null)
const formConfirm = ref(null)

const form = ref({
  name: null,
  email: null,
  state: '',
  county: '',
  comment: null,
  interest_type: null,
})

const setupMap = async(stats) => {
  const chatUrl = `https://chitchatter.im/public`

  if (markerGroup.value) {
    map.value.leafletObject.removeLayer(markerGroup.value)
  }

  markerGroup.value = new MarkerClusterGroup()
  map.value.leafletObject.addLayer(markerGroup.value)

  await nextTick()
  markerGroup.value.addLayers(stats.value.map((stat) => {
    const options = { title: stat.county_name, clickable: true, draggable: false }
    const marker = L.marker(L.GeoJSON.coordsToLatLng(stat.geom.coordinates), options)
    marker.on('click', async() => await fetchSignatures(stat.county_id))
    marker.bindPopup(`${stat.county_name} County: ${format(stat.count)} signatures<br/><a href="${chatUrl}/Proposal-${stat.county_name.split(' ').join('-')}-County-${stat.county_id}" target="_blank">Peer to peer chat</a> [<a href="https://chitchatter.im/about" target="_blank">Learn more</a>]`)
    return marker
  }))
}

const format = (number) => {
  if (number) {
    return window.numeral(number).format('0.0a')
  } else{
    return 0
  }
}

const resetForm = () => {
  form.value = {
    name: null,
    email: null,
    state: '',
    county: '',
    comment: null,
    interest_type: null,
  }
} 

const fetchStates = async() => {
  fetching.value = true
  try {
    const res = await fetch('/api/states')
    const json = await res.json();
    states.value = json.sort((a, b) => a.name > b.name ? 1 : -1)
  } finally {
    fetching.value = false
  }
}

const fetchSignatures = async(county = '') => {
  try {
    statsLoading.value = true
    const res = await fetch(`/api/signatures?county_id=${county}`)
    const json = await res.json()
    signatures.value = json
  } finally {
    statsLoading.value = false
  }
}

const fetchInterestTypes = async() => {
  try {
    statsLoading.value = true
    const res = await fetch('/api/interest-stats')
    const json = await res.json()
    interests.value = json
  } finally {
    statsLoading.value = false
  }
}

const fetchStatistics = async() => {
  try {
    statsLoading.value = true

    const res = await fetch(`/api/stats`)
    const json = await res.json()
    stats.value = json
  } finally {
    statsLoading.value = false
    await setupMap(stats)
  }
}

const fetchCountiesForState = async(statefp) => {
  form.value.county = ''
  counties.value = []
  fetching.value = true
  try {
    const res = await fetch(`/api/states/${statefp}/counties`)
    const json = await res.json()
    counties.value = json.sort((a, b) => a.name > b.name ? 1 : -1)

  } finally {
    fetching.value = false
  }
}

const addSignature = async() => {
  const { name, email, interest_type, comment, county} = form.value

  const payload = { name, email, interest_type, comment, county_id: county }
  formError.value = null
  formConfirm.value = null
  fetching.value = true
  try {
    const res = await fetch(`/api/sign`, { method: 'POST', body: JSON.stringify(payload)})
    if (res.status != 200) {
      formError.value = await res.text()
    } else {
      resetForm()
      await fetchInterestTypes()
      await fetchStatistics()
      formConfirm.value = 'Thank you for signing!'
    }
  } finally {
    fetching.value = false
  }
}

onMounted(async() => {
  await fetchInterestTypes()
  await fetchStatistics()
  await fetchSignatures()
  await fetchStates()
})
</script>

<template>
  <div class="background"></div>
  <Header />
  <Content aria-label="introduction">
    <blockquote aria-label="quote regarding cooperation">"The only thing that will redeem mankind is cooperation."</blockquote>
    <cite aria-label="quotee">Bertrand Russell</cite>
    <Summary aria-label="about this proposal"/>
  </Content>
  <div aria-label="signature statistics and map" class="container">
    <Loader v-if="statsLoading" />
    <div class="container__summary">
      <section aria-label="signatures of cooperatives" class="summary_statistic">
        <h1>{{ format(interests.coop || 0) }}<br>cooperatives <br/><span class="display-small">align with these principles</span></h1>
      </section>
      <section aria-label="signatures of people wanting to start a new co-op" class="summary_statistic">
        <h1>{{ format(interests.start || 0) }}<br />people <br/> <span class="display-small">have interest in starting a coop</span></h1>
      </section>
      <section aria-label="signatures of people interested in working in a co-op" class="summary_statistic">
        <h1>{{ format(interests.work || 0) }} <br>workers<br><span class="display-small">would like to work in a federated cooperative effort</span></h1>
      </section>
      <section aria-label="count of counties with signatures" class="summary_statistic">
        <h1>{{ format(stats.length) }}<br>counties<br/><span class="display-small">have interest in a federated cooperative</span></h1>
      </section>
    </div>
    <div class="sign-container">
      <div aria-label="leaflet map of clustered signatures per county" class="map">
        <LMap ref="map" :dragging="false" :doubleClickZoom="false" :boxZoom="false" v-model:zoom="zoom" :center="[44.96, -103.771]">
          <LTileLayer ref="tileLayer"
            url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
            layer-type="base"
            name="OpenStreetMap"
            ></LTileLayer>
        </LMap>
      </div>
      <Signatures aria-label="sample of comments from signers" :signatures="signatures" />
    </div>
  </div>
  <Content aria-label="functional specification"><Spec /></Content>
  <Content aria-label="ethical specification" :nobackground="true"><Ethics /></Content>
  <Content aria-label="signature form" :inverted="true">
    <h1 id="sign-declaration">Sign Declaration</h1>
    <form aria-label="signature form">
      <fieldset aria-label="general information">
        <legend>General information</legend>
        <label for="name">Your name <input v-model="form.name" maxlength="70" type="text" id="name" /></label>

        <label for="email">Email (will ask for verification)<input v-model="form.email" aria-hidden="true" autocomplete="off" type="email" id="email" placeholder="Email" /></label>

        <label class="inline" for="type-coop">I represent an existing cooperative that agrees with the proposed intentions.<input id="type-coop" v-model="form.interest_type" type="radio" name="type" value="coop" /></label>
        <label class="inline" for="type-start">I have interest in starting a new cooperative that agrees with the proposed intentions <input id="type-start" v-model="form.interest_type" type="radio" name="type" value="start" /></label>
        <label class="inline" for="type-work">I have interest in working in a federated cooperative that agrees with the proposed intentions.<input id="type-work" v-model="form.interest_type" type="radio" name="type" value="work" /></label>
      </fieldset>
      
      <fieldset aria-label="geographic information">
        <legend>Geographic information</legend>
        <div class="form-group">
          <label for="state">State
            <select v-model="form.state" @change="fetchCountiesForState(form.state)" id="state" placeholder="Which state are you in?" v-if="states">
              <option value="">Please choose a state</option>
              <option v-for="state in states" :value="state.statefp">{{  state.name }}</option>
            </select>
          </label>

          <label for="county">County
            <select v-model="form.county" id="county" :disabled="!form.state">
              <option value="">Please choose a county</option>
              <option  v-if="counties" v-for="county in counties" :value="county.id">{{ county.name }}</option>
            </select>
          </label>
        </div>
      </fieldset>
      <fieldset aria-label="extra information">
        <legend>Extra information</legend>
        <label for="comments">Comments
          <textarea maxlength="280" v-model="form.comment" id="comments"></textarea>
        </label>
      </fieldset>

      <fieldset aria-label="submit information">
        <legend>Submit information</legend>
        <button @click.prevent.stop="addSignature" type="submit">Submit signature</button>
      </fieldset>
    </form>
    <Loader v-if="fetching" />
  </Content>
  <div aria-label="form errors" class="form-confirmation form-error" v-if="formError">
    <strong>Error submitting signature</strong> {{ formError }} <a href="#" @click.prevent="formError = null">[close]</a>
  </div>
  <div aria-label="form confirmation" class="form-confirmation" v-if="formConfirm">
    <strong>{{ formConfirm }}</strong><a href="#" @click.prevent="formConfirm = null">[close]</a>
  </div>
</template>

<style>
@font-face {
  font-family: "Righteous";
  src: url("/Righteous-Regular.ttf");
}

div.markdown-body > h1 {
  font-family: 'Righteous', sans-serif;
}

fieldset {
  outline: none;
  border: none;
  width: 100%;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius:0px;
  padding: 5px 8px;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-weight: normal;
  margin: 5px 0px;
}

label[for="email"] {
  position: absolute;
  visibility: hidden;
  width: 1px;
}

button[type="submit"] {
  width: 100%;
  border-radius: 0px;
  background-color: #e4002b;
  color: white;
  padding: 10px 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
}

select#state, select#county {
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.form-confirmation {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c7eae1;
  color: #098765;
  flex-direction: column;
  z-index: 3;
}
.form-error {
  background-color: #ffe6eb;
  color: #ba1e3b;
}
.form-error a {
  color: #ba1e3b;
  text-decoration: dotted;
}

form label {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

form label.inline {
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: #333;
  margin: .5em 0;
}

form label.inline input {
  margin-right: 1em;
}

textarea#comments {
  height: 200px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

h1 {
  margin: 40px 0px;
  font-family: 'Righteous', sans-serif !important;
}

span.display-small {
  font-size: 24px;
  font-family: Open Sans,sans-serif;
  font-weight: 100;
  display: inline-block;
}

blockquote {
  margin-top: 20px;
  font-size: 3em;
  font-style: italic;
  padding-left: 20px;
  margin: 20px 0px 0px 0px;
  position: relative;
}
blockquote:before {
  content: '';
  position: absolute;
  bottom:0;
  left: -20px;
  top:0;
}
cite {
  font-size: 20px;
  margin-top: 20px;
  padding:0px;
  width: 100%;
  font-weight: bold;
  font-style: normal;
  display: block;
  text-align: right;
  margin-bottom: 100px
}

div.sign-container {
  width: 50%;
  aspect-ratio: 1.7 / 1;
}

.summary_statistic h1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

div.map {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60%;
}

div.container__summary {
  height: calc(100%);
  width: calc(50%);
  display: flex;
  font-size: 24px;

  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #009970;
}
.summary_statistic {
  width: calc(50% - 41px);
  color: #009970;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  border-right: none;
  background-color: white;
  border-top: none;
  aspect-ratio: 1 /1;
}

section.summary_statistic h1 {
  margin-bottom: 0;
}

.summary_statistic:nth-child(2), .summary_statistic:nth-child(3) {
  color: white;
  background: transparent;
}


.summary_statistic h1 {
  font-size: 50px;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  /* height: calc(100vh - 300px); */
  
}
.heading__icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
}
.heading__icons li {
  list-style-type: none;
  font-size: 23px;
  margin-left: 2em;
  padding: 10px 0px;
  cursor: pointer;
  position: relative;
}

legend {
  visibility: hidden;
  position: absolute;
}

a {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

h1 { 
  margin: 0;
  padding: 0;
  font-size: 39px;
}

div.background {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255, 225, 255, 0.2)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 10px;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -37px;
	font-size: 12px;
	width: 25px;
	text-align: center;
}

@media (max-width: 500px) {
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  form label {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  select#state, select#county {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  section.summary_statistic {
    width: 100%;
  }

  div.map {
    height: 400px;
    width: 100%;
  }
  .summary_statistic:nth-child(2), .summary_statistic:nth-child(4) {
    color: white;
    background: transparent;
  }
  .summary_statistic:nth-child(3) {
    color: #009970;
    background: white;
  }
}

@media (max-width: 1000px)  {
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  div.sign-container {
    width: 100%;
    aspect-ratio: unset;
  }
  div.signatures {
    min-height: 500px;
    height: initial;
  }
  div.container__summary, div.map {
    width: 100%;
  }
  div.map {
    height: 500px;
  }

  blockquote {
    font-size: 20px;
  }

  div.container {
    height: unset;
  }
}
</style>
