html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #009970;
  font-size:20px;
}

:root {
  --vc-clr-primary: white !important;
  --vc-clr-secondary: #e8e8e87f !important;
}

/* body {
	width: 100vw;
	height: 100vh;
	background-size: 14px;
  background: linear-gradient(30deg, rgba(168,163,241,1) 0%, rgba(254,201,90,1) 35%, rgba(0,212,255,1) 70%, rgba(251,189,237,1) 100%);;
  font-family: 'Luckiest Guy', cursive;
    display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(186, 255, 196, 0.2);
  font-size:50px;
  text-shadow: 1px 1px 1px black;
} */

#app {
  height: 100%;
}

/* body:after {
  content: '';
  display: block;
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(186, 255, 196, 0.7)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: 50px;
} */